<%- contentFor('body') %>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-7 text-center" style="margin-top: 30vh;">
        <div class="jumbotron">            
            <h3>Pense em um prato que gosta</h3>
        </div>
        <a href="/proximo" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">OK</a>
    </div>
</div>