<%- contentFor('body') %>


    <div class="row justify-content-center">
        <div class="col-3 text-center" style="margin-top: 30vh;">
            <div class="jumbotron">
                Pense em um prato que gosta                
            </div>            
            <a href="/?start=true" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">OK</a>
        </div>
    </div>


